@import url('https://fonts.googleapis.com/css?family=Open+Sans:normal|Open+Sans:300|Open+Sans:700');

// colors
$accent-color: #61dafb;
$darkest-bg-color: #21242a;

// screens
$normal-screen: 780px;
$large-screen: 1340px;
